body {
  font-family: sans-serif;
  background-color: #191c3f;
  color: #ffffff;
  margin: 2rem;
}

* {
  box-sizing: border-box;
}

.logo {
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 20px;
}

.score {
  font-size: 48px;
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

.restart {
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  background-color: #2b2e56;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  display: inline-block;
}

#game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid {
  background-color: #2b2e56;
  border-radius: 5px;
  border: none;
  display: flex;
  flex-direction: row;
}

#win-message {
  font-size: 36px;
  height: 50px;
}

.column {
  background-color: #2b2e56;
  position: relative;
  border: none;
}

.column::before {
  content: "";
  opacity: 0;
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: -80px;
  left: 5px;
  transition: all 200ms;
}

.column:hover {
  background-color: #393d6b;
  border-radius: 5px;
  cursor: pointer;
}

.column:hover::before {
  opacity: 0.5;
  top: -60px;
  transition: all 100ms;
}

.column.locked::before {
  opacity: 0;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #191c3f;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  color: #191c3f;
  font-size: x-large;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-280px);
  }
  10% {
    -webkit-transform: translateY(-200px);
  }
  20% {
    -webkit-transform: translateY(-170px);
  }
  40% {
    -webkit-transform: translateY(-100px);
  }
  50%,
  70%,
  100% {
    -webkit-transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(-20px);
  }
  80% {
    -webkit-transform: translateY(-10px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  animation-duration: 300ms;
}

.circle.red,
.circle.blue {
  margin: 0;
}

.circle .blue {
  background-color: #6f8fea;
}

.circle .red {
  background-color: #ed5a8b;
}

.red {
  color: #ed5a8b;
}

.blue {
  color: #6f8fea;
}

.navbar-links {
  display: flex;
  justify-content: space-evenly;
}

.navbar-item {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
}

.title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
}

.subtitle {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  padding-bottom: 60px;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8px;
}

.navbar {
  padding-bottom: 25px;
}
