body {
  font-family: sans-serif;
  background-color: #191c3f;
  color: #ffffff;
  margin: 2rem;
}

* {
  box-sizing: border-box;
}

.logo {
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 20px;
}

.score {
  font-size: 48px;
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

.restart {
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  background-color: #2b2e56;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  display: inline-block;
}

#game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid {
  background-color: #2b2e56;
  border-radius: 5px;
  border: none;
  display: flex;
  flex-direction: row;
}

#win-message {
  font-size: 36px;
  height: 50px;
}

.column {
  background-color: #2b2e56;
  position: relative;
  border: none;
}

.column::before {
  content: "";
  opacity: 0;
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: -80px;
  left: 10px;
  transition: all 200ms;
}

.column:hover {
  background-color: #393d6b;
  border-radius: 5px;
  cursor: pointer;
}

.column:hover::before {
  opacity: 0.5;
  top: -60px;
  transition: all 100ms;
}

.column.locked::before {
  opacity: 0;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #191c3f;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  color: #191c3f;
  font-size: x-large;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-280px);
  }
  10% {
    -webkit-transform: translateY(-200px);
  }
  20% {
    -webkit-transform: translateY(-170px);
  }
  40% {
    -webkit-transform: translateY(-100px);
  }
  50%,
  70%,
  100% {
    -webkit-transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(-20px);
  }
  80% {
    -webkit-transform: translateY(-10px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  animation-duration: 300ms;
}

.circle.red,
.circle.blue {
  margin: 0;
}

.circle .blue {
  background-color: #6f8fea;
}

.circle .red {
  background-color: #ed5a8b;
}

.red {
  color: #ed5a8b;
}

.blue {
  color: #6f8fea;
}

.navbar-links {
  display: flex;
  justify-content: space-evenly;
}

.navbar-item {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
}

.title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
}

.subtitle {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  padding-bottom: 60px;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8px;
}

.navbar {
  padding-bottom: 25px;
}

.disabled-board {
  pointer-events: none;
  opacity: 0.9;
}

.content {
  text-align: center;
  height: 70px;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #ecf0f1;
}
.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}
.content__container:after,
.content__container:before {
  font-size: 42px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.content__container__text {
  float: left;
  margin: 0;
}
.content__container__list {
  margin-top: 0;
  padding-left: 150px;
  text-align: right;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.content__container__list__item {
  line-height: 40px;
  margin: 0;
}
@-webkit-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@-o-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-o-keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@-moz-keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-moz-keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}

a[href="/register"],
a[href="/"] {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: lighter;
  margin-top: 1rem;
}

button[type="submit"] {
  margin: 1rem 0 1rem 0;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  padding: 5px 10px;
  margin: 0.7rem 0 0.7rem 0;
}
